@import "tailwindcss";

:root {
  --background: #d9d9d9;
  --foreground: rgba(0, 25, 59, 1);
  --gray: #cbcbcb;
}

.gray {
  background-color: var(--gray);
}

.foreground {
  background-color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Helvetica, sans-serif;
}

.wrapper {
  @apply max-w-[1140px] w-[90%] mx-auto;
}

.section-heading {
  @apply font-bold text-[40px] leading-[122%] tracking-[-0.6%] text-center;
  font-family: var(--font-montserrat), Helvetica, sans-serif;
}

.pic-slider-outer {
  max-width: 100vw;
  margin: 32px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent -20%,
    black 50%,
    black 0%,
    transparent 120%
  );
}
.pic-slider-inner {
  display: flex;
  flex-wrap: nowrap;
}

.per-pic-container {
  @apply w-[60px] h-[60px] rounded-full p-0.5 flex-shrink-0 relative;
  position: relative;
  border: 1px solid;
}

.per-pic-container:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 23px;
  width: 14px;
  height: 65px;
  background: var(--background);
}

.per-pic-container:after {
  content: "";
  position: absolute;
  top: 23px;
  left: -4px;
  width: 65px;
  height: 14px;
  background: var(--background);
}

.custom-border {
  position: absolute;
  left: 23px;
  top: -2px;
  rotate: 46deg;
  width: 14px;
  height: 65px;
  background: var(--background);
}

.custom-border-last {
  position: absolute;
  left: 23px;
  top: -2px;
  rotate: -46deg;
  width: 14px;
  height: 65px;
  background: var(--background);
}

.testimonials-container {
  @apply py-[56px] px-[66px] bg-white rounded-4xl cursor-pointer;
  position: relative;
}

.testimonials-container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 2rem;
  padding: 0.63px;
  background: linear-gradient(
    271.83deg,
    rgba(0, 25, 59, 0.45) 19.69%,
    rgba(0, 68, 161, 0.45) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.slick-slide-custom {
  transition: transform 0.3s, opacity 0.3s;
}
.slick-center-custom {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}
.slick-side-custom {
  transform: scale(0.85);
  opacity: 0.5;
  z-index: 1;
}

.per-pic-center {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}
.per-pic-side {
  transform: scale(0.85);
  opacity: 0.5;
  z-index: 1;
}
